#portail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loginForm, #registerForm, #containerHome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loginFormContent, #registerFormContent, #contentHome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
}

.error{
    color: red;
}