<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <form action="/login" method="post" name="form1">
            <% if (typeof error !== 'undefined') { %>
                <p><%= error %></p>
            <% } %>
            <input type="text" name="email" id="email" placeholder="Adresse email" value="" required>
            <input type="password" name="password" id="password" placeholder="Mot de passe" value="" required>
            <input type="submit" value="Se connecter"><br>
            <a href="/register"><u>Pas encore de compte ?</u></a>
        </form>
    </body>
</html>