<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>Users</title>
        <link rel="icon" href="../../public/img/favicon.jpeg" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/styles.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    </head>
    <body>
        <div class="header">
            <a href="/users"><img src="img/logo.png" alt="Logo" height="60"></a>
        </div>
        <div class="container-fluid mt-4">
            <a href="/logout" class="mb-4 btn btn-danger d-flex justify-content-around align-items-center logout-btn"><i class="bi bi-box-arrow-right"></i> <span>Se déconnecter</span></a>
            <div id="containerUsers">
                <div id="contentUsers">
                    <h1>Bienvenue !</h1>
                    <p>Votre email: <%= emailConnectedUser %></p>
                    <p class="mb-2">Liste des adresses emails des utilisateurs enregistrés:</p>
                    <ul>
                        <% for(var i=0; i<users.length; i++) {%>
                            <li>#<%= i + 1 %> <%= users[i].email %></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>